.search-bar-location {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: brown; */
  padding-left: 200px;
}

/* * {
  border: 1px solid black;
} */
